.blogs-page {
  background-color: white;
  min-height: 90vh;
}

.blogs-filter {
  width: 95%;
  margin: 0 auto;
  padding: 12px 0;
}

.add, .refresh {
  padding: 12px 0;
  margin-right: 10px;
}

.blogs-table {
  width: 95%;
  margin: 0 auto;
}

.blogs-editor {
  width: 95%;
  margin: 0 auto;
}

.button-flex {
  display: flex;
}

.BraftEditor-instance-1 {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.ant-tabs-nav-wrap {
  display: none;
}