.users-page {
  background-color: white;
  min-height: 90vh;
}

.users-filter {
  width: 95%;
  margin: 0 auto;
  padding: 12px 0;
}

.add, .refresh {
  padding: 12px 0;
  margin-right: 10px;
}

.users-table {
  width: 95%;
  margin: 0 auto;
}

.button-flex {
  display: flex;
}
